{
  "presets": ["env"],
  "plugins": [
    'babel-plugin-syntax-dynamic-import',
    'babel-plugin-transform-object-rest-spread',
    'babel-plugin-transform-object-assign',
    'babel-plugin-add-module-exports'
  ],
  "comments": false
}
