<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="keywords">
  <meta name="description">
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <% htmlWebpackPlugin.options.css.forEach(function(href){ %>
     <link rel="stylesheet" href="<%= href %>">
  <% }) %>
</head>

<body>
  <div id="app"><!--vue-ssr-outlet--></div>
   <% htmlWebpackPlugin.options.js.forEach(function(src){ %>
     <script type="text/javascript" src="<%= src %>"></script>
   <% }) %>
</body>
</html>