<html lang="en" server-rendered="true">
<head><title>egg-vue-webpack</title>
  <meta name="keywords" content="egg, vue, webpack, server side render">
  <meta name="description" content="vue server side render">
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
  <link rel="stylesheet" href="http://100.84.250.56:8888/public/static/css/vendor.css">
  <link rel="stylesheet" href="http://100.84.250.56:8888/public/static/css/home/home.css">
</head>
<body>
<div id="app">
  <div>
    <header class="header">
      <div class="container"><h1><a href="" class="router-link-active">egg-vue-webpack</a></h1>
        <ul class="nav">
          <li class="nav-item"><a href="/" class="active">Home</a></li>
          <li class="nav-item"><a href="/about">About</a></li>
        </ul>
      </div>
    </header>
    <div class="main">
      <div class="page-container page-component">
        <div>
          <div>
            <div>
              vue-渐进式JavaScript 框架
            </div>
            <div>
              webpack配置官方文档
            </div>
            <div>
              egg-为企业级框架和应用而生
            </div>
            <div>
              axios-基于 Promise 的 HTTP 请求客户端
            </div>
            <div>
              Centralized State Management for Vue.js
            </div>
            <div>
              vue服务器渲染
            </div>
            <div>
              webpack服务器构建
            </div>
            <div>
              vue component loader for Webpack
            </div>
            <div>
              vue-router--The official router for Vue.js
            </div>
            <div>
              vue生命周期
            </div>
            <div
              class="el-table el-table--fit el-table--border el-table--enable-row-hover el-table--enable-row-transition"
              style="width:100%;">
              <div class="hidden-columns">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
              <div class="el-table__header-wrapper">
                <table cellspacing="0" cellpadding="0" border="0" class="el-table__header" style="width:;">
                  <colgroup></colgroup>
                  <thead>
                  <tr></tr>
                  </thead>
                </table>
              </div>
              <div class="el-table__body-wrapper">
                <table cellspacing="0" cellpadding="0" border="0" class="el-table__body" style="width:;">
                  <colgroup></colgroup>
                  <tbody>
                  <tr></tr>
                  <tr></tr>
                  <tr></tr>
                  <tr></tr>
                  <tr></tr>
                  <tr></tr>
                  <tr></tr>
                  <tr></tr>
                  <tr></tr>
                  <tr></tr>
                  </tbody>
                </table><!----></div><!----><!----><!---->
              <div class="el-table__column-resize-proxy" style="display:none;"></div>
            </div>
            <div class="block" style="text-align:right;margin-top:16px;">
              <div class="el-pagination"><span class="el-pagination__total">共 15 条</span><span
                class="el-pagination__sizes"><div class="el-select"><!---->
                <div class="el-input"><!----><i class="el-input__icon el-icon-caret-top"></i><input type="text"
                                                                                                    placeholder="请选择"
                                                                                                    readonly="readonly"
                                                                                                    autocomplete="off"
                                                                                                    value="10"
                                                                                                    class="el-input__inner">
                  <!----><!----></div>
                <div class="el-select-dropdown" style="min-width:;display:none;">
                  <div class="el-scrollbar is-empty" style="display:none;">
                    <div class="el-select-dropdown__wrap el-scrollbar__wrap el-scrollbar__wrap--hidden-default">
                      <ul class="el-scrollbar__view el-select-dropdown__list"><!---->
                        <li class="el-select-dropdown__item selected"><span>10 条/页</span></li>
                        <li class="el-select-dropdown__item"><span>15 条/页</span></li>
                        <li class="el-select-dropdown__item"><span>20 条/页</span></li>
                        <li class="el-select-dropdown__item"><span>50 条/页</span></li>
                      </ul>
                    </div>
                    <div class="el-scrollbar__bar is-horizontal">
                      <div class="el-scrollbar__thumb"
                           style="width:0;transform:translateX(0%);ms-transform:translateX(0%);webkit-transform:translateX(0%);"></div>
                    </div>
                    <div class="el-scrollbar__bar is-vertical">
                      <div class="el-scrollbar__thumb"
                           style="height:0;transform:translateY(0%);ms-transform:translateY(0%);webkit-transform:translateY(0%);"></div>
                    </div>
                  </div>
                  <p class="el-select-dropdown__empty">无数据</p></div>
              </div></span>
                <button type="button" class="btn-prev disabled"><i class="el-icon el-icon-arrow-left"></i></button>
                <ul class="el-pager">
                  <li class="number active">1</li><!----><!---->
                  <li class="number">2</li>
                </ul>
                <button type="button" class="btn-next"><i class="el-icon el-icon-arrow-right"></i></button>
                <span class="el-pagination__jump">前往<input type="number" min="1" number="true" value="1"
                                                           class="el-pagination__editor" style="width:30px;">页</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script> window.__INITIAL_STATE__ = {
  "data": {
    "list": [ {
      "title": "vue-渐进式JavaScript 框架",
      "summary": "简单小巧的核心，渐进式技术栈，足以应付任何规模的应用",
      "url": "https:\u002F\u002Fcn.vuejs.org",
      "id": 1
    }, {
      "title": "webpack配置官方文档",
      "summary": "webpack is a module bundler for modern JavaScript applications.",
      "url": "https:\u002F\u002Fwebpack.js.org\u002Fconfiguration\u002F",
      "id": 2
    }, {
      "title": "egg-为企业级框架和应用而生",
      "summary": "Born to buildbetter enterprise frameworks and apps with Node.js & Koa",
      "url": "https:\u002F\u002Feggjs.org\u002F",
      "id": 3
    }, {
      "title": "axios-基于 Promise 的 HTTP 请求客户端",
      "summary": "基于 Promise 的 HTTP 请求客户端，可同时在浏览器和 node.js 中使用",
      "url": "https:\u002F\u002Fwww.awesomes.cn\u002Frepo\u002Fmzabriskie\u002Faxios",
      "id": 4
    }, {
      "title": "Centralized State Management for Vue.js",
      "summary": "Vuex 是一个专为Vue.js 应用程序开发的状态管理模式",
      "url": "https:\u002F\u002Fgithub.com\u002Fvuejs\u002Fvuex",
      "id": 5
    }, {
      "title": "vue服务器渲染",
      "summary": "服务器渲染可以加快首屏速度,利于SEO",
      "url": "http:\u002F\u002Fcsbun.github.io\u002Fblog\u002F2016\u002F08\u002Fvue-2-0-server-side-rendering\u002F",
      "id": 6
    }, {
      "title": "webpack服务器构建",
      "summary": "Webpack is an amazing tool.",
      "url": "http:\u002F\u002Fjlongster.com\u002FBackend-Apps-with-Webpack--Part-I",
      "id": 7
    }, {
      "title": "vue component loader for Webpack",
      "summary": "Webpack loader for Vue.js components",
      "url": "https:\u002F\u002Fgithub.com\u002Fvuejs\u002Fvue-loader",
      "id": 8
    }, {
      "title": "vue-router--The official router for Vue.js",
      "summary": "It deeply integrates with Vue.js core to make building Single Page Applications with Vue.js a breeze",
      "url": "https:\u002F\u002Fgithub.com\u002Fvuejs\u002Fvue-router",
      "id": 9
    }, {
      "title": "vue生命周期",
      "summary": "Vue.js 生命周期和route的生命周期讲解",
      "url": "http:\u002F\u002Fwww.jianshu.com\u002Fp\u002Fe9f884b6ba6c",
      "id": 10
    } ], "total": 15, "pageIndex": 1, "pageSize": 10
  }
};</script>
<script type="text/javascript" src="http://100.84.250.56:8888/public/static/js/vendor.js"></script>
<script type="text/javascript" src="http://100.84.250.56:8888/public/static/js/home/home.js"></script>
</body>
</html>